<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="io.github.edo9300.edopro"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto">

	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-sdk tools:overrideLibrary="libwindbot, android.support.v4,
		android.support.mediacompat, android.support.fragment,
		android.support.coreui, android.support.coreutils, android.support.loader,
		android.support.v7.viewpager, android.support.coordinatorlayout,
		android.support.drawerlayout, android.support.drawerlayout,
		android.support.slidingpanelayout, android.support.customview,
		android.support.swiperefreshlayout, android.support.asynclayoutinflater,
		android.support.compat, androidx.versionedparcelable, android.arch.lifecycle,
		android.support.documentfile, android.support.localbroadcastmanager,
		android.support.print, android.support.interpolator, android.support.cursoradapter,
		android.arch.lifecycle.viewmodel, android.arch.lifecycle.livedata,
		android.arch.lifecycle.livedata.core, android.arch.core"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:label="${project}"
		android:resizeableActivity="false"
		android:isGame="true">

		<meta-data
			android:name="android.max_aspect"
			android:value="2.1" />

		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|keyboardHidden|navigation|screenSize"
			android:label="${project}"
			android:launchMode="singleTask"
			android:screenOrientation="sensorLandscape"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="file" />
				<data android:host="*" />
				<!--data android:mimeType="*/*" /-->
				<data android:pathPattern=".*\\.ydk" />
				<data android:pathPattern=".*\\.Ydk" />
				<data android:pathPattern=".*\\.YDk" />
				<data android:pathPattern=".*\\.YdK" />
				<data android:pathPattern=".*\\.YDK" />
				<data android:pathPattern=".*\\.yDk" />
				<data android:pathPattern=".*\\.yDK" />
				<data android:pathPattern=".*\\.ydK" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="content" />
				<data android:host="*" />
				<data android:mimeType="*/*" />
				<data android:pathPattern=".*\\.ydk" />
				<data android:pathPattern=".*\\.Ydk" />
				<data android:pathPattern=".*\\.YDk" />
				<data android:pathPattern=".*\\.YdK" />
				<data android:pathPattern=".*\\.YDK" />
				<data android:pathPattern=".*\\.yDk" />
				<data android:pathPattern=".*\\.yDK" />
				<data android:pathPattern=".*\\.ydK" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="file" />
				<data android:host="*" />
				<!--data android:mimeType="*/*" /-->
				<data android:pathPattern=".*\\.yrpx" />
				<data android:pathPattern=".*\\.Yrpx" />
				<data android:pathPattern=".*\\.yRpx" />
				<data android:pathPattern=".*\\.yrPx" />
				<data android:pathPattern=".*\\.yrpX" />
				<data android:pathPattern=".*\\.YRpx" />
				<data android:pathPattern=".*\\.YrPx" />
				<data android:pathPattern=".*\\.YrpX" />
				<data android:pathPattern=".*\\.YRPx" />
				<data android:pathPattern=".*\\.YRpX" />
				<data android:pathPattern=".*\\.YRPX" />
				<data android:pathPattern=".*\\.yRPx" />
				<data android:pathPattern=".*\\.yRpX" />
				<data android:pathPattern=".*\\.yRPX" />
				<data android:pathPattern=".*\\.yrPX" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="content" />
				<data android:host="*" />
				<data android:mimeType="*/*" />
				<data android:pathPattern=".*\\.yrpx" />
				<data android:pathPattern=".*\\.Yrpx" />
				<data android:pathPattern=".*\\.yRpx" />
				<data android:pathPattern=".*\\.yrPx" />
				<data android:pathPattern=".*\\.yrpX" />
				<data android:pathPattern=".*\\.YRpx" />
				<data android:pathPattern=".*\\.YrPx" />
				<data android:pathPattern=".*\\.YrpX" />
				<data android:pathPattern=".*\\.YRPx" />
				<data android:pathPattern=".*\\.YRpX" />
				<data android:pathPattern=".*\\.YRPX" />
				<data android:pathPattern=".*\\.yRPx" />
				<data android:pathPattern=".*\\.yRpX" />
				<data android:pathPattern=".*\\.yRPX" />
				<data android:pathPattern=".*\\.yrPX" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="file" />
				<data android:host="*" />
				<!--data android:mimeType="*/*" /-->
				<data android:pathPattern=".*\\.lua" />
				<data android:pathPattern=".*\\.Lua" />
				<data android:pathPattern=".*\\.lUa" />
				<data android:pathPattern=".*\\.luA" />
				<data android:pathPattern=".*\\.LUa" />
				<data android:pathPattern=".*\\.lUA" />
				<data android:pathPattern=".*\\.LuA" />
				<data android:pathPattern=".*\\.LUA" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />

				<data android:scheme="content" />
				<data android:host="*" />
				<data android:mimeType="*/*" />
				<data android:pathPattern=".*\\.lua" />
				<data android:pathPattern=".*\\.Lua" />
				<data android:pathPattern=".*\\.lUa" />
				<data android:pathPattern=".*\\.luA" />
				<data android:pathPattern=".*\\.LUa" />
				<data android:pathPattern=".*\\.lUA" />
				<data android:pathPattern=".*\\.LuA" />
				<data android:pathPattern=".*\\.LUA" />
			</intent-filter>
		</activity>
		<activity
			android:name=".SdlLauncher">
		</activity>
		<activity
			android:name=".EpNativeActivity"
			android:excludeFromRecents="true"
			android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize|smallestScreenSize"
			android:hardwareAccelerated="true"
			android:launchMode="singleTask"
			android:screenOrientation="sensorLandscape"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
			<meta-data
				android:name="android.app.lib_name"
				android:value="EDOProClient" />
		</activity>
		<activity
			android:name=".TextEntry"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:theme="@style/Theme.Dialog"
			android:windowSoftInputMode="stateAlwaysHidden"/>
		<activity
			android:name=".AssetCopy"
			android:screenOrientation="sensorLandscape"
			android:theme="@style/AppTheme"/>
	</application>
</manifest>
