name: Build app
on: [push, pull_request]
jobs:
  build-apk:
    runs-on: ubuntu-22.04
    env:
      DEPLOY_BRANCH: android
      OS_NAME: linux
      LIBWINDBOT_URL: https://github.com/ProjectIgnis/windbot/releases/download/20230312/libWindbot.aar
      LIBWINDBOT_RESOURCES: https://github.com/ProjectIgnis/windbot/releases/download/20230312/WindBotIgnite-Resources.7z
      DEPLOY_TOKEN: ${{ secrets.DEPLOY_TOKEN }}
      DEPLOY_DIR: release
      DEPLOY_REPO: ${{ secrets.DEPLOY_REPO }}
      COVERS_URL: ${{ secrets.COVERS_URL }}
      FIELDS_URL: ${{ secrets.FIELDS_URL }}
      JKS_PASS: ${{ secrets.JKS_PASS }}
      PICS_URL: ${{ secrets.PICS_URL }}
      UPDATE_URL: ${{ secrets.UPDATE_URL }}
      USE_BUNDLED_FONT: 1
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install apt deps
      run: |
        sudo apt install lua5.3
    - name: Download libwindbot
      run: |
        mkdir -p libs
        curl --retry 5 --connect-timeout 30 --location --remote-header-name -o libs/libWindbot.aar $LIBWINDBOT_URL
    - name: Set local.properties
      run: |
       echo "sdk.dir=$ANDROID_HOME" > local.properties
    - name: Prepare assets
      run: |
       ./ci/touch-assets.sh
    - name: Build client
      run: ./ci/build-android.sh
    - name: Build base apk
      run: |
       ./gradlew assemble
       ./ci/sign-apk.sh EDOPro-release-base.apk
    - name: Deploy
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
      shell: bash
      run: ./ci/deploy.sh
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: EDOPro
        path: release/EDOPro-release-base.apk
